$btn-color: #f3a847;
$btn-font-color: #131921;
$btn-hover-color: #d3933f;

//variables and mixins
@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

/*************************/
.about-container {
  @include flexDisplay(column, center);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  padding: 80px 0;

  .about-article-container {
    padding-top: 20px;
    width: 90%;

    .about-title {
      font-size: 36px;
    }
    .about-main-text {
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .about-products-btn {
      padding: 10px 20px;
    }
  }

  @media screen and (min-width: 996px) {
    .about-article-container {
      max-width: 45%;
    }
  }

  .about-img-container {
    display: block;
    max-width: 90%;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
  }

  @media screen and (min-width: 996px) {
    .about-img-container {
      max-width: 50%;
      padding-right: 40px;
    }
  }
}

@media screen and (min-width: 996px) {
  .about-container {
    flex-direction: row;
  }
}
