.cartpage-main {
  width: 100%;
  margin-bottom: 50px;
}

.cartpage-main .cartpage-title {
  text-align: center;
  font-size: 22px;
  margin: 20px;
}

.cartpage-main .cartpage-underline {
  margin: auto;
  height: 2px;
  max-width: 50%;
  min-width: 300px;
  background: #f3a847;
  margin-bottom: 15px;
}

.cartpage-main .cartpage-item-wrrapper {
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 900px;
}

.cartpage-main .back-products-clear-cart-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cartpage-main .back-products-clear-cart-container .clear-all-cart-btn {
  position: relative;
}

.cartpage-main .back-products-clear-cart-container .clear-all-cart-btn .clear-all-cart-btn-text {
  font-size: 14px;
  color: #131921;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cartpage-main .back-products-clear-cart-container .loading-btn .clear-all-cart-btn-text {
  visibility: hidden;
  opacity: 0;
}

.cartpage-main .back-products-clear-cart-container .loading-btn::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #131921;
  border-radius: 50%;
  -webkit-animation: button-loading-spinner 1s ease infinite;
          animation: button-loading-spinner 1s ease infinite;
}

@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.cartpage-main .order-total-section {
  min-width: 300px;
  max-width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 900px;
}

.cartpage-main .order-total-section .order-total-container-with-btn {
  margin-right: 10px;
}

.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container {
  margin: 15px 0px;
  padding: 20px 50px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}

.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container p,
.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container h3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container p span,
.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container h3 span {
  margin-left: 60px;
}

.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container .order-subtotal,
.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container .order-items-total {
  font-weight: 600;
}

.cartpage-main .order-total-section .order-total-container-with-btn .order-total-container .cartpage-order-total-underline {
  height: 1px;
  width: 100%;
  background: #e2e2e2;
  margin-bottom: 10px;
}

.cartpage-main .order-total-section .order-total-container-with-btn .empty-cart-btn,
.cartpage-main .order-total-section .order-total-container-with-btn .go-to-checkout-btn {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 996px) {
  .cartpage-main .order-total-section {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=cartPage.css.map */