$backGroundColor: #FFFFFF;

@mixin displayFlex ($direction, $justifyPosition) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justifyPosition;
}

.home-featured-products {
    @include displayFlex(row, center);

    .featured-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 25px;
        margin: 25px 10px 25px 10px;
    }

    @media screen and (min-width: 796px) {
            .featured-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media screen and (min-width: 1000px) {
            .featured-container {
                grid-template-columns: repeat(3, 1fr);
                margin: 25px 20px 25px 20px;
            }
        }
}