@mixin filterBtns {
  margin: 0 10px 5px 0;
  cursor: pointer;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  padding: 3px 10px;
  color: rgb(61, 61, 61);
  font-weight: 600;
  background: transparent;

  &:hover {
    background: #131921;
    color: white;
  }
}

.filters-container {
  //background: grey;
  .filter-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    ul {
      li {
        list-style-type: none;
        display: inline-block;

        button {
          @include filterBtns();
        }

        .active-btn {
          background: #131921;
          color: white;
        }
      }
      @media screen and (min-width: 950px) {
        li {
          display: block;
        }
      }
    }
  }

  .filter-search {
    margin-bottom: 15px;

    input {
      padding: 3px 5px;
      border: 1px solid grey;
      border-radius: 3px;
    }
  }

  .filter-range {
    p {
      span {
        padding-left: 10px;
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 950px) {
    .filter-categories {
      justify-content: left;
      margin-top: 80px;
    }
  }

  button {
    @include filterBtns();
  }
}
