$background-color: #131921;

.footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: $background-color;

  p {
    span {
      color: #f3a847;
    }
  }
}
