$background-color: #131921;
$white-color: white;
$btn-hover-color: #d3933f;

//variables and mixins
@mixin flexDisplay($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin btn {
  cursor: pointer;
  font-size: 20px;
  color: $white-color;
  background-color: transparent;
  border-style: none;
  margin: 5px;
}

//navbar
.main-navbar {
  display: relative;
  background-color: $background-color;
  width: 100%;

  .main-header {
    @include flexDisplay(row, space-between);
    max-width: 1200px;
    margin: auto;

    // .logo-div {
    //   .logo-text {
    //     color: $white-color;
    //     font-size: 14px;
    //     font-weight: 400;
    //     margin-left: -18px;
    //   }
    // }

    .logo-div {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100px;
        object-fit: contain;
        margin: 15px 20px;
      }

      .logo-text {
        color: $white-color;
        font-size: 14px;
        font-weight: 400;
        margin-left: -18px;
      }
    }

    .toggle-btn {
      font-size: 30px;
      background-color: transparent;
      border-style: none;
      color: $white-color;
      cursor: pointer;
      display: block;
      margin-right: 10px;

      &:hover {
        color: $btn-hover-color;
      }
    }
    @media screen and (min-width: 796px) {
      .toggle-btn {
        display: none;
      }
    }

    .nav-links-container {
      display: none; /*toggles */

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          cursor: pointer;
          padding: 5px 10px;

          a {
            text-decoration: none;
            color: $white-color;
            font-weight: 500;
            padding-bottom: 3px;
            &:hover {
              border-bottom: 2px solid #f3a847;
            }
          }

          .active-page {
            border-bottom: 2px solid #f3a847;
          }
        }
      }
    }
    @media screen and (min-width: 796px) {
      .nav-links-container {
        display: inline-block; /*toggles */
      }
    }

    .cart-login-container {
      display: none;
      align-items: center;
      justify-content: center;

      .cart-btn {
        @include btn();
        margin-right: 10px;
        position: relative;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          margin-top: 7px;
          text-decoration: none;
          color: $white-color;

          .cart-value {
            position: absolute;
            top: 0px;
            left: 8px;
            text-align: center;
            background-color: $background-color;
            font-size: 18px;
            color: rgb(202, 165, 0);
            font-weight: 600;
            height: 25px;
            width: 30px;
            border-radius: 45%;
          }
        }
      }
    }
    @media screen and (min-width: 796px) {
      .cart-login-container {
        display: flex; /*toggles */
      }
    }

    .social-links-container {
      display: none; /*toggles */

      ul {
        li {
          display: inline-block;
          list-style: none;
          color: $white-color;
          font-size: 24px;
          padding: 2px 5px;
        }
      }
    }
    @media screen and (min-width: 796px) {
      .social-links-container {
        display: block;
        margin-right: -60px;
      }
    }
  }

  @media screen and (min-width: 796px) {
    .main-header {
      justify-content: space-around;
    }
  }
}
