.main-navbar {
  display: relative;
  background-color: #131921;
  width: 100%;
}

.main-navbar .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
}

.main-navbar .main-header img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 15px 20px;
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header img {
    margin-left: -30px;
  }
}

.main-navbar .main-header .toggle-btn {
  font-size: 30px;
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
  display: block;
  margin-right: 10px;
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header .toggle-btn {
    display: none;
  }
}

.main-navbar .main-header .nav-links-container {
  display: none;
  /*toggles */
}

.main-navbar .main-header .nav-links-container ul {
  list-style-type: none;
}

.main-navbar .main-header .nav-links-container ul li {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
}

.main-navbar .main-header .nav-links-container ul li a, .main-navbar .main-header .nav-links-container ul li a:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header .nav-links-container {
    display: inline-block;
    /*toggles */
  }
}

.main-navbar .main-header .cart-login-container {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-navbar .main-header .cart-login-container .cart-btn {
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-style: none;
  margin: 5px;
  margin-right: 25px;
  padding: 10px 0;
  position: relative;
}

.main-navbar .main-header .cart-login-container .cart-btn a {
  text-decoration: none;
  color: white;
}

.main-navbar .main-header .cart-login-container .cart-btn a .cart-value {
  position: absolute;
  top: 0px;
  left: 56px;
  text-align: center;
  background-color: tomato;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.main-navbar .main-header .cart-login-container .user-btn {
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-style: none;
  margin: 5px;
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header .cart-login-container {
    display: inline-block;
    /*toggles */
  }
}

.main-navbar .main-header .social-links-container {
  display: none;
  /*toggles */
}

.main-navbar .main-header .social-links-container ul li {
  display: inline-block;
  list-style: none;
  color: white;
  font-size: 24px;
  padding: 2px 5px;
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header .social-links-container {
    display: block;
    margin-right: -60px;
  }
}

@media screen and (min-width: 796px) {
  .main-navbar .main-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=navbar.css.map */