//$backGround: #f7f7f7;
$backGround: transparent;

@mixin displayFlex($direction, $justifyPosition) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $justifyPosition;
}

.product-list-container {
  @include displayFlex(row, center);
  background: $backGround;

  .list-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 25px;
    padding: 30px;
  }

  @media screen and (min-width: 700px) {
    .list-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1250px) {
    .list-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
