.form-container {
  max-width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  background: white;

  h2,
  h3 {
    margin-bottom: 5px;
  }

  .underline-form {
    margin: auto;
    height: 2px;
    width: 150px;
    background: #f3a847;
    margin-bottom: 30px;
  }

  .first-column {
    min-width: 300px;
    max-width: 100%;
  }

  .shipping-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      border-bottom: 2px solid rgb(226, 226, 226);
      margin-bottom: 20px;
      border-left: none;
      border-right: none;
      border-top: none;
      width: 100%;
      padding-left: 5px;
    }

    select {
      cursor: pointer;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid rgb(226, 226, 226);
      margin-bottom: 20px;
      color: grey;
    }
  }

  @media screen and (min-width: 600px) {
    .shipping-form {
      flex-direction: row;
    }
  }

  .order-info {
    width: 100%;
    margin-top: 20px;

    p {
      font-size: 16px;
    }

    div[class~='opt'] {
      display: flex;
      justify-content: space-between;
    }
    .item-summary {
      .item-title {
        text-align: left;
        font-weight: 500;
      }
      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
  }

  .payment-section {
    width: 100%;

    form {
      .stripe-pay-div {
        .stripe-pay-btn {
          position: relative;
          padding: 8px 15px;
          width: 100%;

          .stripe-pay-btn-text {
            font-size: 14px;
            transition: all 0.2s;
          }
        }

        .loading-btn .stripe-pay-btn-text {
          visibility: hidden;
          opacity: 0;
        }

        //button animation setup
        .loading-btn {
          &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 3px solid transparent;
            border-top-color: #131921;
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
          }
        }

        //buttom loading animation
        @keyframes button-loading-spinner {
          from {
            transform: rotate(0turn);
          }

          to {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
}
