$spacing10px: 10px;

@mixin displayFlex($direction, $justifyDirection, $alignDirection) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyDirection;
  align-items: $alignDirection;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.single-cart-item-container {
  position: relative;
  @include displayFlex(column, center, center);
  max-width: 900px;
  margin: auto;

  .loading-div {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid rgb(143, 143, 145);
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  .show-loading {
    visibility: visible;
  }

  .cart-img {
    width: 180px;
    border: 1.5px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin: 20px 20px;
  }

  @media screen and (min-width: 600px) {
    .cart-img {
      width: 130px;
    }
  }

  .cart-item-info-container {
    min-width: 310px;

    .cart-item-title {
      margin-bottom: $spacing10px;
      font-size: 19px;
    }

    .cart-price-qty-total {
      @include displayFlex(column, center, normal);
      max-width: 280px;
      padding-right: 20px;

      div {
        @include displayFlex(row, space-between, center);

        p[class~='label'] {
          font-weight: 600;
        }

        p[class~='price'] {
          padding-right: 25px;
        }
      }

      .cart-qty-div {
        .cart-amount {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 99px;
          height: 35px;

          select {
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid rgb(192, 191, 191);
          }
        }
      }
    }
  }

  .cart-item-delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-style: none;
    background: transparent;
    font-size: 22px;
    color: tomato;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  .single-cart-item-container {
    flex-direction: row;
  }
}

.line-through {
  margin: auto;
  max-width: 900px;
  height: 1px;
  background: rgb(221, 221, 221);
}
