@-webkit-keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes button-loading-spinner {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.single-cart-item-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin: auto;
}

.single-cart-item-container .loading-div {
  visibility: hidden;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #8f8f91;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: button-loading-spinner 1s ease infinite;
          animation: button-loading-spinner 1s ease infinite;
}

.single-cart-item-container .show-loading {
  visibility: visible;
}

.single-cart-item-container .cart-img {
  width: 180px;
  border: 1.5px solid #dddddd;
  border-radius: 5px;
  margin: 20px 20px;
}

@media screen and (min-width: 600px) {
  .single-cart-item-container .cart-img {
    width: 130px;
  }
}

.single-cart-item-container .cart-item-info-container {
  min-width: 310px;
}

.single-cart-item-container .cart-item-info-container .cart-item-title {
  margin-bottom: 10px;
  font-size: 19px;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  max-width: 280px;
  padding-right: 20px;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total div p[class~='label'] {
  font-weight: 600;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total div p[class~='price'] {
  padding-right: 25px;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total .cart-qty-div .cart-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99px;
  height: 35px;
}

.single-cart-item-container .cart-item-info-container .cart-price-qty-total .cart-qty-div .cart-amount select {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c0bfbf;
}

.single-cart-item-container .cart-item-delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-style: none;
  background: transparent;
  font-size: 22px;
  color: tomato;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .single-cart-item-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.line-through {
  margin: auto;
  max-width: 900px;
  height: 1px;
  background: #dddddd;
}
/*# sourceMappingURL=shoppingCartItem.css.map */