$background-color: #232F3E;
$font-color: white;
$hover-color: grey;

//mixins
@mixin btn {
    cursor: pointer;
    font-size: 20px;
    color: $font-color;
    background-color: transparent;
    border-style: none;
    margin: 5px;
}

.sidebar-main {
    transform: translate(-100%);
    transition: 0.5s;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    z-index: -1;

    .logo {
        width: 100px;
        margin: 15px 10px;
    }
    .links-div {
        .links-ul {
            li {
                padding: 10px 10px;
                cursor: pointer;

                a, a:visited {
                text-decoration: none;
                color: $font-color;
                font-weight: 500;
                }
                &:hover {
                    background-color: $hover-color;
                }
            }  
        }
    }

    .cart-login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .cart-btn {
            @include btn();
            margin-right: 25px;
             padding: 10px 0;
            position: relative;

            a {
                text-decoration: none;
                color: $font-color;

                .cart-value-sidebar {
                    position: absolute;
                    top: 0px;
                    left: 56px;
                    text-align: center;
                    background-color: tomato;
                    font-size: 16px;
                    font-weight: 500;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    
                }
            }
        }
        .user-btn {
            @include btn();
        }
    }

    .sidebar-social {
        ul {
            li {
                display: inline-block;
                color: $font-color;
                margin: 10px 5px;
                font-size: 24px;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    .close-btn {
        @include btn();
        position: absolute;
        top: 10px;
        right: 10px; 
    }
}

.show-sidebar {
        z-index: 999;
        transform: translate(0);
    }

@media screen and (min-width: 796px) {
    .sidebar-main {
        display: none;
    }
}