.sort-filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;

  p {
    margin-right: 20px;
    color: grey;
  }

  select {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid grey;
    padding: 3px 5px;
  }
}
